@model OrderManagementApi.DTOs.ProductListResponseDto

@{
	ViewData["Title"] = "Produtos";
}

<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead class="table-primary">
			<tr>
				<th class="d-none">Id</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Preço</th>
				<th>Quantidade em Estoque</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody id="productsTable">
			@if (Model.Products != null && Model.Products.Any())
			{
				foreach (var product in Model.Products)
				{
					<tr>
						<td class="d-none">@product.Id</td>
						<td>@product.Name</td>
						<td>@product.Description</td>
						<td>@product.Price.ToString("C")</td>
						<td>@product.StockQuantity</td>
						<td>
							<div class="btn-group-wrapper d-flex flex-nowrap gap-2 justify-content-end">
								<button class="btn btn-sm btn-secondary btn-update">Alterar</button>
								<button class="btn btn-sm btn-danger btn-delete"
										data-id="@product.Id"
										data-name="@product.Name">
									Deletar
								</button>
							</div>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="6" class="text-center text-muted">
						Nenhum registro encontrado.
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div id="paginationInfo" data-current-page="@Model.CurrentPage" data-total-pages="@Model.TotalPages"></div>

</div>
