@model List<OrderManagementApi.DTOs.SimpleProductDto>

<div class="table-responsive">
	<table class="table table-bordered">
		<thead class="table-primary">
			<tr>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Preço</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody id="productList">
			@if (Model != null && Model.Any())
			{
				@foreach (var product in Model)
				{
					<tr>
						<td>@product.Name</td>
						<td>@product.Description</td>
						<td>@product.Price.ToString("C")</td>
						<td>
							<button class="btn btn-primary btn-sm select-product"
									data-id="@product.Id"
									data-name="@product.Name"
									data-description="@product.Description"
									data-price="@product.Price">
								Selecionar
							</button>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="6" class="text-center text-muted">
						Nenhum registro encontrado.
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>