@model List<OrderManagementApi.DTOs.SimpleProductDto>

<table class="table table-bordered">
    <thead class="table-primary">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody id="productList">
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price.ToString("C")</td>
                <td>
                    <button class="btn btn-primary btn-sm select-product"
                            data-id="@product.Id"
                            data-name="@product.Name"
                            data-description="@product.Description"
                            data-price="@product.Price">
                        Selecionar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
